/* 간단 예시, 필요 시 작성 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fcf7f6; /* 혹은 #FFEDED, #FFF2F2 등 */
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: left top;
  /* background-size: auto; */
  /* background-size: 300px auto; */
  background-size: 50%;
}
